@charset "UTF-8";

* {
	box-sizing: border-box;
}


.tbl1,
.tbl2,
.tbl3 {
	border: 1px solid black;
	background-color: lightgrey;
	 border-spacing: 0px;
	float: left;
}

.col1,
.col2,
.col3 {
	text-align: right;
	border: 1px solid black;
	width: 30px;
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 5px;
	border-collapse: collapse;  border-spacing: 0;
}

.col1 {
	background-color: pink;
	
}

.col2 {
	background-color: firebrick;
}

.col3 {
	background-color: burlywood;
}

.deta {
	padding: 2% 2% 2% 2%;
}

@media screen and (min-width: 992px) {
	.tbl1 {
		margin-left: 4%;
		margin-right: 0%;
		width: 96%;
	}
	.tbl2 {
		margin-left: 4%;
		margin-right: 0%;
		width: 96%;
	} .tbl3 {
		margin-left: 4%;
		margin-right: 0%;
		width: 96%;
	}

	.spn1, .spn2, .spn3 {
		display: inline-block;
		width: 33%;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.tbl1{
		margin-left: 4%;
		margin-right: 2%;
		margin-bottom: 4%;
		width: 94%;
		}
	
	 .tbl2 {
		margin-left: 2%;
		margin-right: 4%;
		margin-bottom: 4%;
		width: 94%;
	}
	
	.tbl3 {
		margin-left: 2%;
		margin-right: 2%;
		width: 96%
	}

	.spn1, .spn2 {
		display: inline-block;
		width: 49.5%;
	}

	.spn3 {
		display: block;
		width: 99%;
	}


}

@media screen and (max-width: 767px) {
	.tbl1, .tbl2, .tbl3{
		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 4%;
		width: 92%;
		}
		
	.spn1, .spn2, .spn3 {
		display: inline-block;
		width: 100%;
	}

}